<div>
  <link href='/public/css/reviews.css' rel='stylesheet' />
  <div id='top-div'>
    <img id='company-logo' src='/public/images/Logo.png' alt="Company Logo" />
    <a href='/reviews/create'>Enjoy our service? Leave a review!</a>
  </div>
  <hr class='col-3 col-md-2 mb-5' />
  <p>See what our customers think!</p>
  <div id='form-div'>
    <form action='/reviews/high-to-low' method='GET'>
      <label for='sort-desc-button'>Sort by High to Low: </label>
      <button id='sort-desc-button' type='submit'>Sort</button>
    </form>

    <form action='/reviews/low-to-high' method='GET'>
      <label for='sort-asc-button'>Sort by Low to High: </label>
      <button id='sort-asc-button' type='submit'>Sort</button>
    </form>

    <form action='/reviews/searchreviews' method='POST'>
      <label for='searchReviewTerm'>Search Term:</label>
      <input id='searchReviewTerm' type='text' name='searchReviewTerm' />
      <button type='submit'>Search</button>
    </form>

    <form action='/reviews/byhairdresser/' method='GET'>
      <label for='hairdressersdrop'>Search By Hairdresser</label>
      <select id='hairdressersdrop' name='hairdressersdrop'>
        {{#each hairdressers}}
          <option
            value='{{this.hid}}'
            class='hairdresser-option'
          >{{this.name}}</option>
        {{/each}}
      </select>
      <button type='submit'>Search</button>
    </form>

  </div>
  <div class='error-div2'>
    {{#if error}}
      <p>{{error}}</p>
    {{/if}}
  </div>

  <div id='review-div'>
    {{! <ul id="review-list" style="list-style-type:none;"> }}
    {{#each reviews}}
      {{! <li> }}
      <p class='customer-name'>{{customerName}} says: </p>
      <p class='hairdresser-name'>Hairdresser: {{hairdresserName}}</p>
      <p class='review-rating'>Rating: {{rating}}/5</p>
      <p class='review-body'>{{body}}</p>
      {{! </li> }}
      <hr class='col-3 col-md-2 mb-5' />
    {{/each}}
    {{! </ul> }}
  </div>
</div>